@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";



html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
    .section4__card{

      margin-top: 50px;
      margin-bottom: 50px;
    }

  }

  @media screen and (max-width: $smDesktopWidth) {

    .section-hero__blocks1, .section-hero__blocks2, .section-hero__blocks3{
      margin-top: 25px;
    }
  }




  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
    .section2__img{
      display: none;
    }
    .section6__second__left{
      padding-left: 25px
    }
    .section5__item{
      margin-bottom: 25px;
    }
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;

    .section5__img{
      display: none;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  background-color: $default-color;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}







///// test ///



@import "modules/index.scss";

@import "modules/faq.scss";

@import "modules/blog.scss";

@import "modules/blogDetails.scss";

@import "modules/singIn.scss";

@import "modules/singUp.scss";

// Modules:
// example: @import "modules/my-module.scss";
