/////////header /////////////

.header {
  max-width: 1920px;
  max-height: 1027px;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/shape_1.jpg');
  
}

.header__cont{
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
.logo{
  width: 179px;
  height: 100px;
}

.menu{
  align-items: center;
}

.menu__text, .menu__text1{
  font-family: $mediumFont;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 32px;
  color:#929292;
  
  &:hover{
    text-decoration: underline;
  }
}

.menu__text1 {
  color: #0f7bff;
}

.btn{
  width: 165px;
  height: 50px;
  border-radius: 25px;

}

.menu__btn{
  background-color: #0063dd;
  display: flex;
  align-items: center;
  justify-content: center;

  >a{
    color: white;

     &:hover{
    text-decoration: underline;
  }
  }

}

//////

.header__desc-text{

  .header__desc-text_h1 {
    font-family: $boldFont;
    font-weight: 700;
    color: #333333;
    font-size: 36px;
    margin-top: 140px;
    justify-content: center;
  }

  .header__desc-text_span{
    margin-top: 32px;
    justify-content: center;

    > span{
      max-width: 611px;
      max-height: 74px;
      width: 100%;
      height: 100%;
    }
  }

  .header__desc-text_btn{
    justify-content: center;
    margin-top: 32px;

    > a{
      display: flex;
      align-items: center;
      justify-content: center; 
  }
  .header__desc-text_btn1{
    border-radius: 25px;
    background-color: #0f7bff;
    color: white;
    &:hover{
      text-decoration: underline;
    }
  }
  .header__desc-text_btn2{
    border-radius: 25px;
    border: 2px solid #0f7bff;
    color: #0f7bff;
    margin-left: 30px;
    &:hover{
      text-decoration: underline;
    }
  }
 
  }
}

.header__desc-img{
  justify-content: center;

  > img{
    max-width: 916px;
    max-height: 572px;
    width: 100%;
    height: 100%;
  }
}

.header__desc-scrollDown{
    justify-content: center;
    margin-top: -35px;

    &:hover{
      cursor: pointer;
    }
}

///////////////////////// main //////////////////////////

.main{
  max-width: 1920px;
  width: 100%;
}

.section-hero{
  height: 625px;
  justify-content: space-around;
  align-items: center;
}

.section-hero__blocks1, .section-hero__blocks2, .section-hero__blocks3 {
  width: 360px;
  height: 290px;
  box-shadow: 0 0 25px #f0f0f0;
  border-radius: 5px;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

  .section-hero__blocks_img{
    width: 70px;
    height: 70px;
  }

}

.section-hero__blocks2{
  margin-top: 50px;
}

.section-hero__blocks_h{
  font-family: $mediumFont;
  font-weight: $mainFontMedium;
  font-size: 18px;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-hero__blocks_span{
  text-align: center;
}

.section2{
  max-height: 1190px;

  .section2__block1, .section2__block2{
    height: 595px;
  }

  .section2__img{
    max-width: 645px;
    max-height: 610px;
    width: 100%;
    height: 100%;
  }
  .section2__block1, .section2__block2{
    justify-content: space-around;
    align-items: center;
  }
  .section2__desc{
    max-width: 544px;
    max-height: 97px;
    width: 100%;
    height: 100%;
  }
  .section2__desc_a{
    color: #0f7bff;
    font-size: 16px;
    font-family: $mediumFont;
    font-weight: $mainFontMedium;

    &:hover{
      text-decoration: underline;
    }
  }
}

//////////////section3 /////////

.section3{
  max-width: 1920px;
  width: 100%;
  background-color: #f5fcfd;
  justify-content: center;
  .section3__cont{
    align-content: center;

  .section3__h{
    font-family: $mediumFont;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    margin-top: 151px;
    text-align: center;
  }

  .section3__text{
    margin-top: 39px;
    max-width: 731px;
    width: 100%;
    text-align: center;
  }
}
  .section3__cont_desc{
    width: 100%;
    max-width: 1100px;
    margin-top: 47px;
    margin-bottom: 127px;
    justify-content: space-around;
    position: relative;
    z-index: 500;
  }

  .section3__desc-card{
    max-width: 300px;
    width: 100%;
    text-align: center;
  }

  .section3__img{
    width: 100px;
    height: 100px;
  }

  .section3__desc_h{
    margin-top: 31px;
    margin-bottom: 29px;
    font-family: $mediumFont;
    font-weight: $mainFontMedium;
    font-size: 18px;
    color: #333333;
  }
  .section3__cont_desc:after{
    content: '';
    height: 2px;
    width: 75%;
    background-color:#0f7bff;
    position: absolute;
    top: 22%;
    z-index: -5;
  }

}

//////////section4 ////////

.section4{
  max-width: 1920px;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-around;

  .section4__left{
    margin-top: 130px;
    max-width: 330px;
    width: 100%;

    .section4__left_h{
      font-size: 32px;
      line-height: 36px;
      font-weight: $mainFontMedium;
      color: #333333;
      margin-bottom: 32px;
    }

    .section4__cont-btn{
      margin-top: 37px;
      max-width: 330px;
      width: 100%;

      .section4__cont-btn_1{
        display: block;
        width: 165px;
        height: 50px;
        border-radius: 25px 0 0 25px;
        background-color: #0f7bff;
        color: #ffffff;
        text-align: center;
        padding-top: 13px;
        font-size: 16px;
        font-weight: 700;

        &:hover{
          text-decoration: underline;
        }
        
      }
      .section__cont-btn_2{
        display: block;
        width: 165px;
        height: 50px;
        border-radius: 0 25px 25px 0;
        border: 2px solid #0f7bff;
        color: #0f7bff;
        text-align: center;
        padding-top: 10px;

        &:hover{
          text-decoration: underline;
        }
        
      }

    }

   

  }
  .section4__card{
    width: 360px;
    height: 576px;
    box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
    border-radius: 5px;
    background-color: #ffffff;
    justify-content: center;
  }
  .section4_right{
    justify-content: space-around;
    max-width: 900px;
    width: 100%;
    
  }
  .section4__card_cont{
    width: 165px;
    flex-direction: column;
  }
  .section4__img{
    margin-top: 40px;
    width: 100px;
    height: 100px;
    margin-left: 25px;
  }

  .section4__card_h{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #333333;
    text-align: center;
    margin-top: 30px;

  }

  .section4__card_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }

  .section4__card_price{
    color: #0f7bff;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    margin-top: 38px;

    .baks{
      font-size: 16px;
    }
  }

  .section4__card_btn{
    display: block;
    margin-top: 38px;
    background-color: #0f7bff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    &:hover{
      text-decoration: underline;
    }
  }

}

////////////////////////////section 5////////

.section5{
  max-width: 1920px;
  width: 100%;
  background-color: #f5fcfd;

  .section5__img{
    width: 100%;
    max-width: 752px;
    height: 608px;
  }

  .section5__cont{
    max-width: 800px;
    width: 100%;
  }

  .section5__h{
    margin-top: 130px;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
  }

  .section5__item_cont{
    justify-content: space-around;
    margin-top: 44px;
  }

  .section5__item{
    position: relative;
    width: 360px;
    height: 215px;
    box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
  }

  .section5__item_h{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #333333;
    margin-left: 30px;
    margin-top: 30px;
  }
  .section5__item_tw{
    position: absolute;
    width: 17px;
    height: 13px;
    top: 40px;
    right: 30px;
  }

  .section5__item_name{
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 30px;
  }
  .section5__item_text{
    margin-left: 30px;
  }

  .section5__rotate_cont{
    width: 95px;
    justify-content: space-around;
    margin-left: 15px;
    margin-top: 50px;
  }
  .section5__rotate_activ{
    width: 30px;
    height: 10px;
    border-radius: 5px;
    background-color: #0f7bff;
  }
  .section5__rotate_inactiv{
    width: 20px;
    height: 10px;
    border-radius: 5px;
    background-color: #d4d4d4;
  }
}

////////////section 6  /////////

.section6{
  max-width: 1920px;
  width: 100%;
  background-color: #ffffff;

  .section6__cont{
    max-width: 1140px;
    margin: auto;
    position: relative;

    
    .section6__img_back{
      position: absolute;
      z-index: 0;
      top: -14px;
      left: 44%;
      
    }

    h2{
      font-family:$mediumFont;
      position: relative;
      color: #333333;
      font-size: 32px;
      font-weight: 500;
      line-height: 36px;
      z-index: 10;
      margin: 150px auto 39px 35%;
    }


    .section6__span_text{
      max-width: 600px;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 39px;

    }
  }

  .section6__second{
    max-width: 1140px;
    margin: auto;
    justify-content: space-between;

    .section6__second__left{
      max-width: 560px;
      width: 100%;

      .section6__left_men{
        max-width: 555px;
        width: 100%;
        max-height: 285px;
        height: 100%;
        margin-bottom: 40px;
      }
      .section6__second_h{
        color: #0f7bff;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        font-family:$mediumFont;
        margin-bottom: 30px;
      }

      .section6__second_text{
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
      }

      .section6__second__btn{
        margin-top: 37px;
        margin-bottom: 127px;
        >a{
          font-size: 16px;
          font-weight: 500;
          line-height: 27px;
          font-family: $mediumFont;
          color: #0f7bff;
          

          &:hover{
            text-decoration: underline;
          }
        }
      }

    }

    .section6__second__right{
      max-width: 550px;
      width: 100%;

      .section6__right_items{
        margin-bottom: 40px;

        .section6__right_img{
          max-width: 165px;
          width: 100%;
          max-height:120px;
          height: 100%;
        }

        .section6__right_cont{
          max-width: 337px;
          width: 100%;
          margin-left: 30px;

          .section6__right_h{
            font-family: $mediumFont;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            color: #333333;
            margin-bottom: 20px;
          }
        }
      }

    }
  }
}
